#payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  max-width: 1500px;
  margin: 100px auto;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.stripe-payment {
  width: 100%;
  padding: 15px;
  background-color: #df342f;
  background-image: linear-gradient(45deg, #df342f, #ff7875);
  color: #fff;
  padding: 15px;
  order: -1;
}

.stripe-payment h1 {
  font-size: 1.2rem;
}

.stripe-payment p {
  font-size: 1rem;
}

#payment .stripe-card-input {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px auto;
}

/* VISA Card */
.credit-card-preview {
  width: 100%;
  padding: 25px 0;
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: 992px) {
  .stripe-payment {
    max-width: 50%;
    order: unset;
    padding: 75px 25px;
  }
}

.credit-card-preview .cc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  max-width: 350px;
  margin: 0 auto;
  color: #fff;
}

.credit-card-preview .cc.visa {
  background-image: linear-gradient(45deg, #2cbefc, #5a77e8);
}

.credit-card-preview .cc.amex {
  background-image: linear-gradient(45deg, #2c75fc, #234d9c);
}

.credit-card-preview .cc.mastercard {
  background-image: linear-gradient(45deg, #6d6d6d, #33343a);
}

.credit-card-preview .cc.jcb {
  background-image: linear-gradient(45deg, #1d3666, #2c68d6);
}

.credit-card-preview .cc h4,
.credit-card-preview .cc .exp {
  font-size: 1.8rem;
  letter-spacing: 4px;
  margin: 20px 0 5px;
  opacity: 0.8;
}

.credit-card-preview .cc .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
